h1 
{
   color: black;
   background-color: crimson;
   text-align: center;
}

#one
{
    color: black;
    background-color: bisque;
    text-align: center;
} 

/* *
{
    text-align:right;
    color: brown;
    border: 1px solid black;s
} */



